.root {
    -fx-base: #444;
    -fx-background: #444;
    -fx-accent: #444;
    -fx-focus-color: #444;
}

.accordion {
    -fx-pref-width: 250px;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-pref-width: 50px;
}

/* Custom Classes */

.gap-5-5 {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

.pad-0 {
    -fx-padding: 0;
}

.btn-25 {
    -fx-min-width: 25px;
}

.btn-50 {
    -fx-min-width: 50px;
}
